body{
    font-family: 'tahoma','ubuntu';
}

section{
    background: #f5f5f5;
    padding: .5em 1em;
    border-radius: 4px;
}

h1{
    text-align: center;
    background: #fff;
    color: #f92672;
    padding: .4em 1em;
    font-family: "Segoe UI",Arial,sans-serif;
}

h2{
    font-family: "Segoe UI",Arial,sans-serif;
    font-weight: 100;
}

h3{
    font-weight: 100;
    cursor: pointer;
    background: #1d92cf;
    color: #fff;
    padding: 7px;
    margin-bottom: 0;
    border-radius: 4px;
    font-family: "Segoe UI",Arial,sans-serif;
    position: relative;
}

h3 svg{
    position: absolute;
    top:8px;
}
.code-demo{
    display: none;
    background: #444;
    color: #fff;
    padding: 1em 10px;
}
footer{
    text-align: center;
    padding: 1em;
    font-size: large;
    color: #272822;
}

footer a,footer a:visited{
    color: red;
    text-decoration: none;
}

hr{
    border: 0;
    border-top: 1px solid #eee;
    margin: 20px 0;
}