.xtsel{
    border: 1px solid silver;
    padding: 5px;
    text-align: center;
    border-radius: 4px;
    cursor: pointer;
    position: relative;
}

#xtsel-list{
    border: gray 1px solid;
    width: 100%;
    padding: 0;
    position: absolute;
    display: none;
    list-style: none;
    top: 45%;
    left: -1px;
    background: white;
    border-radius: 0 0 6px 6px;
    overflow: hidden;
    z-index: 99;
}

#xtsel-list li{
    padding: 4px;
    border-bottom: 1px solid rgba(33,33,33,0.2);
    display: block;
    text-align: left;
    background: white;
    overflow: hidden;
}

#xtsel-list li:nth-child(even){
    background: #efefef;
}

#xtsel-list li:last-child{
    border: none;
}

#xtsel-list li.xtsel-childer{
    background: transparent url("right.png") no-repeat;
    background-position-x: calc(100% - 10px) ;
    -ms-background-position-y: center;
    background-position-y: center;
    background-size: auto 50% ;
}

#xtsel-list li:hover{
    background-color: #dbedff ;
}
#xtsel-list li.xtsel-back{
    background: white url("left.png") 5px no-repeat;
    padding-left: 30px;
    background-size: auto 50% ;
}


#xtsel-list.xout{
    transform-origin: center right;
    transform-style: preserve-3d;
    transform: translateX(-100%) rotateY(-180deg) skew(0deg) ;
}

#xtsel-list.xfade li{
    opacity: 0;
}

#xtsel-list li{
    -webkit-transition: all .55s linear;
    -moz-transition: all .55s linear;
    -o-transition: all .55s linear;
    transition: all .55s linear;
    max-height: 30px;
}

#xtsel-list.xslide li{
    max-height: 0;
    overflow: hidden;
    box-sizing: border-box;
    padding: 0;
}
.anim{
    -webkit-transition: all .6s linear;
    -moz-transition: all .6s linear;
    -o-transition: all .6s linear;
    transition: all .6s linear;
}

.xtsel-selectable{
    float: left;
    width: 1.5em;
    position: relative;
    height: 1em;
    background: transparent url("check-box.png") 5px no-repeat;
    background-size: auto 95% ;
    background-position: center;
    margin-right: .7em;
}


/** rtl support css */
.xts-rtl{
}

.xts-rtl li {
    direction: rtl !important;
    text-align: right !important;
}
.xts-rtl li.xtsel-childer {
    background-image: url("left.png") !important;
    background-position-x: 10px !important;
}
.xts-rtl li.xtsel-back {
    background-image:  url("right.png") !important ;
    background-position-x: calc(100% - 10px) !important;
    padding-right: 30px !important;
}


.xts-rtl .xtsel-selectable{
    float: right;
    margin-left: .7em;
    margin-right: 0;
}

.xtsel .search{
    display: none !important;
    padding: 0 !important;
}
.xts-searcable .search{
    display: block !important;
}
.xtsel .search input{
    background: white;
    padding: 8px;
    border: 0;
    display: block;
    width: 100%;
}
